@{
    ViewData["Title"] = "ResultMethode4";
}

<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" type="text/css" href="~/Result.css">
</head>


<body>

    <header>

        
        <nav class="navbar">
            <ul>
                <li> <h1 class="nomdusite"><strong>RFID WEBSITE </strong></h1> </li>

            </ul>
        </nav>

    </header>
    <p> <br></p>

    <div class="text-center">
         <h1 class="display-4"><u>K NEAREST-NEIGHBORS</u></h1>
        <p> <br></p>

        <h5>
            Nous avons choisi comme mesure de performance l'accuracy (exactitute) pour évaluer la précision des modèles de classification. L'accuracy compare les éléments de y_true et y_pred et calcule la proportion des prédictions correctes par rapport à l'ensemble des prédictions.
            Accuracy = (Nombre de prédictions correctes) / (Nombre total d'échantillons)
        </h5>

        <h2> <strong>Voici le résultat obtenu<br> avec la méthode k nearest-neighbors</strong></h2>

        @{
            string resultJson = ViewBag.Result4;
            decimal accuracyF = 0;
            if (!string.IsNullOrEmpty(resultJson))
            {
                dynamic resultObject = Newtonsoft.Json.JsonConvert.DeserializeObject(resultJson);
                if (resultObject != null)
                {
                    if (resultObject.MLKNN != null)
                    {
                        decimal.TryParse(resultObject.MLKNN.ToString(), out accuracyF);
                    }
                }
            }
            string accuracyString = accuracyF.ToString("0.##############").Replace(".", ",");
        }

        <h3>Result: @Html.Raw(ViewBag.Result4) but Accuracy: @accuracyString</h3>


        <p> <br><br><br> <br><br><br> </p>


        <div class="btn">
            <form method="post" action="/SaveResults">
                <input type="hidden" name="accuracyR" value="@accuracyString" />
                <input type="hidden" name="idM" value="5" />
                <input type="hidden" name="ListHParam[0].Id" value="12" />
                <input type="hidden" name="ListHParam[0].Value" value="@Html.Raw(ViewBag.Hyperparameter1)" />
                <input type="hidden" name="ListHParam[1].Id" value="13" />
                <input type="hidden" name="ListHParam[1].Value" value="@Html.Raw(ViewBag.Hyperparameter2)" />
                <input type="hidden" name="ListHParam[2].Id" value="14" />
                <input type="hidden" name="ListHParam[2].Value" value="@Html.Raw(ViewBag.Hyperparameter3)" />
                <input type="hidden" name="ListHParam[3].Id" value="15" />
                <input type="hidden" name="ListHParam[3].Value" value="@Html.Raw(ViewBag.Hyperparameter4)" />


                <input class="dropbtn" type="submit" name="envoi" value="Sauvegarder" style="width: 250px; height: 50px; font-size: 24px; padding: 10px;">
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="dropbtn" type="submit" name="envoi" value="Retour" onclick="window.location.href='@Url.Action("Page3", "Home")'" style="width: 250px; height: 50px; font-size: 24px; padding: 10px;">
        </div>

        <p><br></p>
    </div>
       
        
</body>
