@model IEnumerable<PROJET.Models.Methode>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/IndexMethodes.css">

    <script src="~/js/Site.js"></script>

</head>



<body>

    <header>
            <ul>
                <li> 
                    <h1 class="nomdusite">
                        <strong>RFID WEBSITE</strong>
                    </h1>
                </li>


            </ul>
        </nav>
    </header>

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbrHParam)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbrHParam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</body>